/* WoodieSvK.eu CSS - Repo: https://github.com/woodiesvk/woodiesvk.github.io */
/* Design and Code by WoodieSvK :3 */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}

/* HEADER SECTION */

header {
    border-bottom: 1px solid #000;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
}

.header {
    top: 1px;
    position: relative;
    line-height: 2.2em;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    cursor: default;
}

.left {
    display: inline-block;
    font-family: "LOGO";
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    padding: 0px 10px;
}

.right {
    display: inline-block;
    float: right;
}

nav a {
    text-decoration: none;
    color: #000;
    font-family: "SGUIitalic";
    font-size: 14px;
    padding: 5px 10px;
    transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
}

nav a:hover {
    color: #898989;
    transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
}

nav .yt:hover {
    color: #bf0000;
    transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
}

nav .da:hover {
    color: #00bf49;
    transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
}

nav .fb:hover {
    color: #003bbf;
    transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
}

/* POSTS SECTION */

.post {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 45px;
}

.post iframe {
    width: 678px;
    height: 430px;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    margin: 4px;
    background-color: #1b1b1b;
    vertical-align: bottom;
}

.post article {
    width: 220px;
    height: 170px;
    margin: 4px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #000;
    font-family: "SGUI";
    font-size: 14px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    vertical-align: bottom;
}

.post span {
    font-family: "SGUI";
    font-size: 14px;
}

.post span b {
    font-family: "SGUIbold";
    font-size: 14px;
}

.post .img div {
    position: relative;
    border-top: 1px solid #000;
    top: 11.5em;
    height: 22px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    padding-top: 3px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.post .img div:hover {
    height: 100%;
    border-radius: 10px;
    transform: translate(0, -142px);
    -webkit-transform: translate(0, -142px);
    transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out, width 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out, width 0.3s ease-in-out;
}

.post article div a {
    color: #fff;
}

.post article div b {
    font-size: 14px;
    font-family: "SGUIbold";
}

.post .text div {
    position: relative;
    border-top: 1px solid #000;
    top: -5px;
    height: 100%;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    padding-top: 3px;
    padding: 5px;
    border-radius: 17px;
}

/* KEYFRAMES */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* HEADINGS */

h1 {
    font-family: "SGUIbolditalic";
}

/* FONT FACES*/

@font-face {
    font-family: SGUI;
    src: url(fonts/segoeui.ttf);
}
@font-face {
    font-family: SGUIitalic;
    src: url(fonts/segoeuii.ttf);
}
@font-face {
    font-family: SGUIbold;
    src: url(fonts/segoeuib.ttf);
}
@font-face {
    font-family: SGUImedium;
    src: url(fonts/seguisb.ttf);
}
@font-face {
    font-family: SGUIlight;
    src: url(fonts/segoeuil.ttf);
}
@font-face {
    font-family: SGUIbolditalic;
    src: url(fonts/segoeuiz.ttf);
}
@font-face {
    font-family: LOGO;
    src: url(fonts/fontastique.ttf);
}

/* MEDIA QUERIES */

@media all
and (min-width : 500px) 
and (max-width : 710px)
{
    .post{
        width: 470px;
    }
    .post iframe {
        width: 444px;
        height: 280px;
    }
}

@media all
and (min-width : 1px) 
and (max-width : 500px)
{
    .post{
        width: 230px;
    }
    .post iframe {
        width: 210px;
        height: 160px;
    }
    nav a span {
        display: none;
    }
        
}

@media all
and (min-width : 1px) 
and (max-width : 370px)
{
    .left {
        display: none;
    }
    .right {
        float: none;
        width: 100%;
        text-align: center;
    }
        
}